p.page{
    text-align:right;
}
ion-ion.bar-chart-outline{
   color: black;
}
ion-ion.library-outline{
   color: black;
}
ion-ion.pie-chart-outline{
   color: black;
}
ion-ion.person-circle-outline{
   color: black;
}
ion-ion.grid-outline{
   color: black;
}
ion-ion.rocket-outline{
   color: black;
}
ion-ion.people-circle-outline{
   color: black;
}