body {
   background-color: #e4e4e4;
   font-family: "Poppins", sans-serif;
 }
 
 .navbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: #ffffff;
   box-shadow: 1px 8px 49px 0px rgba(0, 0, 0, 0.15);
 }
 
 .navbar a {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   text-decoration: none;
   text-transform: uppercase;
 }
 
 img.icon-width {
   width: 50px;
   display: flex;
   align-items: flex-end;
 }
 